{% load staticfiles %}
<html>
    <head>
        <title>e-shope</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ecapp.css' %}">       
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
               <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                <p class="top-menu">Hello {{ user.username }},</p>
            {% else %}
                <a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">e-shope</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
